@import '@styles/colors.scss';

.button {
  width: 200px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: $button-default;
  font-family: 'SFPD-Medium', sans-serif;
  font-size: 16px;
  line-height: 148%;
  color: $white;

  &:hover {
    cursor: pointer;
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }

  &.add {
    padding-right: 20px;
    gap: 18px;
  }

  &.pay {
    gap: 34px;
    padding-right: 22px;
  }
}
