@import '@styles/colors.scss';

.button {
  border-radius: 4px;
  box-sizing: border-box;

  &.normal {
    width: 200px;
    height: 48px;
    font-family: 'SFPD-Medium', sans-serif;
    font-size: 16px;
    line-height: 148%;
  }

  &.small {
    width: 122px;
    height: 40px;
    font-family: 'SFPD-Medium', sans-serif;
    font-size: 14px;
    line-height: 140%;
  }

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }
}

.secondary {
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;

  &:hover {
    background-color: $button-hover;
    color: $white;
  }

  &:active {
    background-color: $white;
    border: 1px solid $button-active;
    color: $button-active;
  }
}

.light {
  background-color: $white;
  color: $blue;

  &:hover {
    color: $button-hover;
  }

  &:active {
    color: $button-active;
  }
}
