$white: #ffffff;
$menu-bg: #091336;
$menu-active-bg: rgba(216, 228, 251, 0.32);
$menu-text: rgba(255, 255, 255, 0.6);
$menu-light-shadow: rgba(237, 218, 1, 0.5);
$page-bg: #e5e5e5;
$table-text-dark: #122945;
$table-text-light: #5e7793;
$button-hover: #0024cb;
$button-active: #274bc8;
$header-shadow: #e9edf3;
$bar-bg: #dee6f5;
$blue: #002cfb;
$green: #28a879;
$yellow: #ffd500;
$red: #ea1a4f;
$light-blue: #adbfdf;
$bad-bg: #fee9ef;
$good-bg: #d8e4fb;
$excellent-bg: #dbf8ef;
$header-text: #899cb1;
$date-select-border: #eaf0fa;
$date-select-shadow: rgba(233, 237, 243, 0.8);
$dropdown-item-bg: rgba(0, 44, 251, 0.13);
$table-row-hover-bg: rgba(212, 223, 243, 0.17);
