$white: #ffffff;
$menu-bg: #091336;
$menu-active-bg: rgba(216, 228, 251, 0.32);
$menu-active-border: #002cfb;
$menu-active-dot: #ffd500;
$menu-text: rgba(255, 255, 255, 0.6);
$page-bg: #e5e5e5;
$table-text-dark: #122945;
$table-text-light: #5e7793;
$button-default: #002cfb;
$button-hover: #0024cb;
$button-active: #274bc8;
